@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-text: #F8F4E1;
  --mid-text: #AF8F6F;
  --dark-text: #74512D;
  --deep-text: #543310;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-text: #F8F4E1;
    --mid-text: #AF8F6F;
    --dark-text: #74512D;
    --deep-text: #543310;
  }
}