@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-text: #F8F4E1;
  --mid-text: #AF8F6F;
  --dark-text: #74512D;
  --deep-text: #543310;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}